#header {
  width: 100%;
  height: 0.9rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0; }
  #header li:nth-of-type(1) {
    width: 30%;
    height: 0.54rem;
    margin-top: 0.16rem;
    margin-bottom: 0.16rem;
    margin-left: 0.18rem; }
    #header li:nth-of-type(1) img {
      width: 2.2rem;
      height: 0.5rem; }
  #header li:nth-of-type(2) {
    width: 15%;
    height: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 0.18rem; }
    #header li:nth-of-type(2) a {
      width: 40%;
      height: 70%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      color: #999;
      font-size: 0.14rem; }
      #header li:nth-of-type(2) a i {
        font-size: .33rem;
        color: #999999; }

#nav {
  width: 100%;
  height: 2.35rem;
  position: relative; }
  #nav img {
    width: 100%;
    height: 100%; }
  #nav ul {
    width: 1rem;
    height: 0.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 45%; }
    #nav ul li {
      width: 0.12rem;
      height: 0.12rem;
      border-radius: 50%;
      background: #7c7c7c; }
    #nav ul li:nth-of-type(1) {
      background: #00be9c; }

#aside {
  width: 100%;
  height: 4.7rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  border-bottom: 0.18rem solid #f4f4f4; }
  #aside li {
    width: 22%;
    height: 45%;
    font-size: 0.28rem;
    color: #333;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    overflow: hidden; }
    #aside li img {
      width: 1.2rem;
      height: 1.2rem; }
    #aside li p {
      width: 1.12rem;
      height: 0.28rem;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden; }

#section {
  width: 100%;
  height: 1.06rem;
  display: flex;
  justify-content: center; }
  #section ul {
    width: 95%;
    height: 0.42rem;
    border-left: 0.05rem solid #2bb281;
    display: flex;
    margin-top: 0.32rem;
    margin-bottom: 0.32rem; }
    #section ul li:nth-of-type(1) {
      width: 1.55rem;
      height: 0.42rem;
      font-size: 0.36rem;
      color: #000;
      display: flex;
      justify-content: center;
      align-items: center; }
    #section ul li:nth-of-type(2) {
      width: 60%;
      height: 0.42rem;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      font-size: 0.24rem;
      color: #999; }

#address {
  width: 100%;
  height: 4.55rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  #address .top {
    width: 95%;
    height: 4.04rem; }
    #address .top img {
      width: 100%;
      height: 100%; }
  #address .ul {
    width: 0.54rem;
    height: 0.15rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.2rem;
    margin-bottom: 0.36rem; }
    #address .ul li {
      width: 0.12rem;
      height: 0.12rem;
      border-radius: 50%;
      background: #7c7c7c; }
    #address .ul li:nth-of-type(1) {
      background: #00be9c; }
  #address .ul2 {
    width: 95%;
    height: 0.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.36rem; }
    #address .ul2 li {
      width: 33%;
      height: 0.4rem;
      display: flex;
      font-size: 0.26rem;
      color: #000; }
      #address .ul2 li i {
        font-size: 0.36rem;
        color: #b5ebd6; }
    #address .ul2 li:nth-of-type(2) {
      display: flex;
      justify-content: center;
      align-items: center; }
    #address .ul2 li:nth-of-type(3) {
      display: flex;
      justify-content: flex-start;
      align-items: center; }

/*# sourceMappingURL=fang-zi.css.map */
